{% extends "layout.html" %}
{% block content %}
<div class="grid-2">
        <div class="section-1">
        
            <h2>Twitter_Random_Wiriter</h2>
            <p>This project is done by Python.
                The main idea is crawl tweet text with tweety, then put the info we gathered 
                into a Markov Chain.
            </p>
         
        </div>

        <div class = "section-2">

            <h1>Try This</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.twitter_name.label }}<br>
                    {{ form.twitter_name(size=16) }}
                </p>
          
                <p>{{ form.submit() }}</p>
            </form>

            <textarea rows="4" cols="50">
            
            {% if showResult %}
                {{ form.results }}
            {% endif %}
            </textarea>

 
        </div>
    </div>
{% endblock content %}
