{% extends "layout.html" %}
{% block content %}
<div class="grid-2">
        <div class="section-1">
        
            <h2>Twitter_Random_Wiriter</h2>
            <p>This project is done by Python.
                The main idea is crawl tweet text with tweety, then put the info we gathered 
                into a Markov Chain.
            </p>
         
        </div>

        <div class = "section-2">

            <h1>Try This</h1>

            <form action = "" method = "post" id = "usernameForm" onsubmit = "return false;">
              <p>Enter Name:</p>
              <p><input type = "text" name = "username" /></p>
              <p><input  value = "submit" type = "submit" /></p>

              <script>
                    function submit1(event){
                     
                      console.log("sd");
                      let ajax = new XMLHttpRequest()
                      ajax.open('post','./project1.html')
                      
                      ajax.onreadystatechange = function(){
                          if (ajax.readyState === 4 ){
                              if(ajax.status === 200){
                                  document.getElementById('resultArea').value = ajax.responseText
                              }
                          }
                      }
                      alert(event.currentTarget[0].value)
                      ajax.send(JSON.stringify({username: event.currentTarget[0].value}))
                      return false
                  }
                  document.getElementById('usernameForm').addEventListener('submit',submit1)
              </script>
             
              
    
           </form>
           

           
  

            <textarea id = "resultArea">
            {{ result }}
            </textarea>

 
        </div>
    </div>
{% endblock content %}
